.container{
    text-align: center;
    align-items: center;
}

.card .list-group{
    position: relative;
}

ul{
    list-style-type: none;
}

.accounts_name{
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

.badge{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}
/*
.account_title h3{
    position: relative;
    font-size: 30px;
    margin-left: 30px;
}
*/
.name_title{
    padding-right: 50px;
    background: darkseagreen;
    float: left;
}
.balance_title{
    background: steelblue;
    margin-right: 60px;
}
.title_lists div{
    display: inline;
    margin-left: 80px;
}
.transactions_id, .id_title{
    float: left;
}
.id_title{
    padding: 0 20px;
    background: coral;
}
.transactions_id{
    margin-left: 100px;
    margin-right: 50px;
}
.type_title{
    padding: 0 40px;
    background: darkseagreen;
}
.amount_title{
    padding: 0 40px;
    background: steelblue;
}
.transactions_amount{
    margin-left: 150px;

}
.transaction_name_title{
    padding: 0 40px;
    background: indianred;
}
.transaction_name_title, .transactions_name{
    float: right;
}
.nav-item{
    margin-bottom: 5px;
    padding: 10px;
    display: inline;
}
.transaction_items{
    margin-bottom: 30px;
}

.transaction_items div{
    display: inline;
}
.deleteAccount{
    margin-left: 20px;
}

@media only screen and (max-width: 411px) {
    .title_lists div{
        display: inline;
        margin-left: 1px;
    }

    .transactions_id {
        margin-left: 10px;
        margin-right: 1px;
    }

    .id_title {
        padding: 0 2px;
        background: coral;
    }
    .type_title {
        padding: 0 20px;
        background: darkseagreen;
    }
    .amount_title {
        padding: 0 20px;
        background: steelblue;
    }
    .transaction_name_title {
        padding: 0 20px;
        background: indianred;
    }
    .transactions_id {
        font-size: 12px;
    }
    .transactions_amount {
        margin-left: 40px;
        font-size: 12px;
    }
    .transactions_type {
        margin-left: 50px;
        font-size: 12px;
    }
    .transactions_name {
        font-size: 12px;
    }
}
